@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
